<!DOCTYPE html>
<html lange="en">
  <head>
    <title>WS6Z's Simplex Mapping Tool</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/simplexmap.css">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A radio contact mapping system">
    <meta name="keywords" content="ham, radio, map, traffic, repeater, simplex">
    
    <script src="/js/simplexmap.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
  </head>
<body>

<div class="container">
     <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="/">Simplex Mapping Tool</a>
         </div>

         <div id="navbar" class="collapse navbar-collapse">
           <ul class="nav navbar-nav navbar-right">
             <li><a href="/help.html">Help</a></li>
			 <% IF session.callsign %><li><a href="#"><% session.callsign %></a></li><% END %>
           </ul>
         </div>
      </div>
     </nav>
     <% content %>

     <hr />
     <div id="footer">
       Created by <a href="http://www.ws6z.com/">WS6Z</a>
     </div>
</div>

</body>
</html>
