<!DOCTYPE html>
<html lange="en">
  <head>
    <title>DNS-Sentinel</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/simplexmap.css">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A radio contact mapping system">
    <meta name="keywords" content="ham, radio, map, traffic, repeater, simplex">
    
    <script src="/js/simplexmap.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
  </head>
<body>
<% content %>
<div id="footer">
Simplex Mapping System by WS6Z
</div>
</body>
</html>
