<div class="row">
    <div class="col-md-12" role="main">
        <div class="panel panel-default">
            <div class="panel-heading">
			  Select the station you want to report signals from:
            </div>
		</div>
		<ul>
		  <% FOREACH station in stations %>
		  <li><a class="btn btn-primary" role="button" href="/repeaters/signals?station=<% station.locationid %>" ><% station. locationname %></a></li>
		  <% END %>
		</ul>
	</div>
</div>
