<div class="row">
    <div class="col-md-12" role="main">
        <div class="panel panel-critical">
            <div class="panel-heading">
			  Error!
            </div>
		</div>
		<% error %>
	</div>
</div>
